// place your custom styles here
#markdown-content li{
    margin-bottom: .5rem;
}
/*#toc{
    background-color: #000000;
}

#toc{
    color: #ffffff;
}

#toc .vp-toc-item a{
    color: #8a8a8a;

}
    */

